<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" routerLink="/admin" *ngIf="isSuperAdmin">Admin</a>
        <a class="nav-item nav-link" routerLink="/group" *ngIf="isAdmin">Groups</a>
        <a class="nav-item nav-link" routerLink="/user" *ngIf="isAdminOrAssis">Channels</a>
        <a class="nav-item nav-link" routerLink="/normalUser" *ngIf="isAdminOrAssis">Users</a>
        <a class="nav-item nav-link" routerLink="/chat">Chat</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>

<!-- main app container -->
<div class="container">
    <router-outlet></router-outlet>
</div>

<!-- credits -->
<div class="text-center mt-4">

</div>