<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card mt-4">
                <h4 class="card-header">Profile</h4>
                <div class="card-body">
                    <p>User: <strong>{{currentUser.username}}</strong>.</p>
                    <p>Role: <strong>{{currentUser.role}}</strong>.</p>
                    <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
                </div>
            </div>
            <app-login *ngIf="isSuperAdmin"></app-login>
        </div>
    </div>
</div>
